 .u-section-1 {
  background-image: none;
  min-height: 1208px;
}

.u-section-1 .u-image-1 {
  height: 665px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 0%;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: -309px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 92px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 378px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.2);
  padding: 30px 20px;
}

.u-section-1 .u-icon-1 {
  height: 78px;
  width: 78px;
  background-image: none;
  color: rgb(77, 77, 77) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 6px 0 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  margin: 20px 15px 0 9px;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 378px;
}

.u-section-1 .u-container-layout-3 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.2);
  padding: 30px 20px;
}

.u-section-1 .u-icon-2 {
  height: 78px;
  width: 78px;
  background-image: none;
  color: rgb(2, 2, 2) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 6px 0 0;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  margin: 20px 15px 0 9px;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 95px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 95px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 375px;
}

.u-section-1 .u-container-layout-6 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.2);
  padding: 30px 20px;
}

.u-section-1 .u-icon-3 {
  height: 78px;
  width: 78px;
  background-image: none;
  color: rgb(77, 77, 77) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 6px 0 0;
}

.u-section-1 .u-text-6 {
  font-style: italic;
  margin: 20px 15px 0 9px;
}

.u-section-1 .u-btn-3 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 371px;
}

.u-section-1 .u-container-layout-7 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.2);
  padding: 30px 20px;
}

.u-section-1 .u-icon-4 {
  height: 78px;
  width: 78px;
  background-image: none;
  color: rgb(77, 77, 77) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 6px 0 0;
}

.u-section-1 .u-text-8 {
  font-style: italic;
  margin: 20px 15px 0 9px;
}

.u-section-1 .u-btn-4 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-8 {
  min-height: 99px;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-layout-wrap-2 {
  width: 1140px;
  margin: 40px auto 44px;
}

.u-section-1 .u-layout-cell-9 {
  min-height: 295px;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-text-9 {
  text-transform: none;
  font-size: 3.75rem;
  font-weight: 300;
  margin: 0;
}

.u-section-1 .u-layout-cell-10 {
  min-height: 295px;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px;
}

.u-section-1 .u-text-10 {
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: none;
  margin: 0;
}

.u-section-1 .u-text-11 {
  margin: 30px 0 0;
}

.u-section-1 .u-btn-5 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  border-style: solid;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 20px auto 0 0;
  padding: 11px 67px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1179px;
  }

  .u-section-1 .u-image-1 {
    height: 518px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 76px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 312px;
  }

  .u-section-1 .u-icon-1 {
    color: rgb(85, 92, 102) !important;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 312px;
  }

  .u-section-1 .u-icon-2 {
    color: rgb(85, 92, 102) !important;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 78px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 78px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 309px;
  }

  .u-section-1 .u-icon-3 {
    color: rgb(85, 92, 102) !important;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 306px;
  }

  .u-section-1 .u-icon-4 {
    color: rgb(85, 92, 102) !important;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 82px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 243px;
  }

  .u-section-1 .u-layout-cell-10 {
    min-height: 243px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1708px;
  }

  .u-section-1 .u-image-1 {
    object-position: 13.14% 0%;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 116px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 119px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 119px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 126px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-10 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 2096px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 174px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 179px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 179px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 189px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 2093px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 110px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 113px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 113px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 119px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-9 {
    font-size: 3rem;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 1060px;
}

.u-section-2 .u-shape-1 {
  height: 299px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-shape-2 {
  height: 808px;
  width: 303px;
  margin: -212px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-2 .u-image-1 {
  height: 676px;
  width: 968px;
  object-position: 45.65% 50%;
  margin: -742px calc(((100% - 1140px) / 2) + 65px) 0 auto;
}

.u-section-2 .u-group-1 {
  min-height: 365px;
  width: 585px;
  margin: -174px auto -198px calc(((100% - 1140px) / 2));
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  font-family: Roboto, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 29px 51px 0 1px;
}

.u-section-2 .u-text-2 {
  font-size: 5rem;
  font-weight: 300;
  text-transform: none;
  margin: 16px 1px 0;
}

.u-section-2 .u-text-3 {
  letter-spacing: 1px;
  margin: 22px 51px 0 1px;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 1040px;
  }

  .u-section-2 .u-shape-2 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-image-1 {
    height: 587px;
    width: 806px;
    margin-top: -735px;
    margin-right: auto;
  }

  .u-section-2 .u-group-1 {
    margin-top: -92px;
    margin-bottom: 40px;
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 939px;
  }

  .u-section-2 .u-shape-2 {
    height: 575px;
    width: 281px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-image-1 {
    height: 454px;
    width: 631px;
    margin-top: -519px;
    margin-left: calc(((100% - 720px) / 2) + 31px);
  }

  .u-section-2 .u-group-1 {
    min-height: 346px;
    width: 499px;
    margin-top: -64px;
    margin-bottom: -41px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 843px;
  }

  .u-section-2 .u-shape-2 {
    height: 497px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-image-1 {
    height: 374px;
    width: 486px;
    margin-top: -441px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-group-1 {
    min-height: 321px;
    width: 420px;
    margin-top: -55px;
    margin-bottom: 60px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-2 .u-text-2 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 726px;
  }

  .u-section-2 .u-shape-1 {
    height: 277px;
  }

  .u-section-2 .u-shape-2 {
    width: 199px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-image-1 {
    height: 249px;
    width: 307px;
    margin-top: -458px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-group-1 {
    min-height: 285px;
    width: 340px;
    margin-top: 44px;
    margin-bottom: 44px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 3rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 950px;
}

.u-section-3 .u-text-1 {
  font-size: 4.375rem;
  width: 697px;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  font-style: italic;
  width: 674px;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: 38px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 16px);
  grid-template-columns: repeat(3, calc(33.3333% - 16px));
  min-height: 304px;
  grid-gap: 24px;
}

.u-section-3 .u-list-item-1 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.2);
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  height: 265px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-3 {
  font-weight: 300;
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-4 {
  font-size: 1rem;
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-2 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.2);
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  height: 265px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-5 {
  font-weight: 300;
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-6 {
  font-size: 1rem;
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-3 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.2);
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  height: 265px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-7 {
  font-weight: 300;
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-8 {
  font-size: 1rem;
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-3 .u-text-9 {
  font-size: 1.125rem;
  width: 417px;
  margin: 42px auto 60px;
}

.u-section-3 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 16px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 16px));
    min-height: 251px;
  }

  .u-section-3 .u-image-1 {
    height: 237px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-text-3 {
    margin-right: 30px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
  }

  .u-section-3 .u-image-2 {
    height: 237px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-text-5 {
    margin-right: 30px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
  }

  .u-section-3 .u-image-3 {
    height: 237px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-text-7 {
    margin-right: 30px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 12px);
    grid-template-columns: repeat(2, calc(50% - 12px));
    min-height: 577px;
  }

  .u-section-3 .u-image-1 {
    height: 287px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    height: 287px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    height: 287px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-3 .u-image-1 {
    height: 361px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    font-size: 2.25rem;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-3 .u-image-2 {
    height: 361px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    font-size: 2.25rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-3 .u-image-3 {
    height: 361px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 3rem;
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-1 {
    height: 287px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-2 {
    height: 287px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-3 {
    height: 287px;
  }

  .u-section-3 .u-text-7 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-9 {
    width: 340px;
  }
} .u-section-4 {
  min-height: 686px;
  background-image: none;
}

.u-section-4 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 490px);
  height: 228px;
  margin: 321px 0 0 auto;
}

.u-section-4 .u-shape-2 {
  width: calc(((100% - 1140px) / 2) + 490px);
  height: 228px;
  margin: -406px auto 0 0;
}

.u-section-4 .u-image-1 {
  width: 642px;
  height: 449px;
  margin: -204px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-4 .u-group-1 {
  min-height: 477px;
  width: 501px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -546px auto 60px calc(((100% - 1140px) / 2) + 70px);
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 300;
  margin: 34px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 35px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-4 .u-btn-2 {
  border-style: solid;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 35px auto 0 0;
  padding: 10px 48px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 704px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 490px);
    margin-top: 339px;
  }

  .u-section-4 .u-shape-2 {
    width: calc(((100% - 940px) / 2) + 454px);
    height: 213px;
  }

  .u-section-4 .u-image-1 {
    width: 517px;
    margin-top: -189px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-group-1 {
    min-height: 467px;
    width: 490px;
    margin-top: -564px;
    margin-right: 500px;
    margin-left: auto;
  }

  .u-section-4 .u-text-1 {
    font-size: 4.0625rem;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 817px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 413px);
    height: 229px;
    margin-top: 429px;
  }

  .u-section-4 .u-shape-2 {
    width: calc(((100% - 720px) / 2) + 345px);
    height: 206px;
    margin-top: -536px;
  }

  .u-section-4 .u-image-1 {
    width: 509px;
    height: 404px;
    margin-top: 35px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-group-1 {
    min-height: 379px;
    width: 422px;
    margin-top: -717px;
    margin-right: auto;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-text-1 {
    font-size: 3.4375rem;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 843px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 413px);
    margin-top: 50px;
    margin-left: 177px;
  }

  .u-section-4 .u-shape-2 {
    width: calc(((100% - 540px) / 2) + 345px);
    margin-top: -594px;
  }

  .u-section-4 .u-image-1 {
    width: 467px;
    height: 387px;
    margin-top: 63px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-group-1 {
    min-height: 390px;
    width: 429px;
    margin-top: -743px;
    margin-bottom: -54px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.75rem;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 808px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 196px);
    margin-left: auto;
  }

  .u-section-4 .u-shape-2 {
    width: calc(((100% - 340px) / 2) + 276px);
    margin-top: -593px;
  }

  .u-section-4 .u-image-1 {
    width: 301px;
    height: 344px;
    margin-top: 134px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-group-1 {
    min-height: 383px;
    width: 319px;
    margin-top: -708px;
    margin-bottom: -18px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-5 {
  min-height: 859px;
}

.u-section-5 .u-shape-1 {
  height: 358px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: -285px auto 0;
}

.u-section-5 .u-image-1 {
  min-height: 377px;
  background-image: url("images/portrait-athletic-woman-using-her-mobile-phone-break-from-training-sport-health-lifestyle_58466-12442.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 103px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 99px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  min-height: 381px;
  background-image: url("images/jogger-preparing-running-practice-close-up_1163-1650.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  min-height: 374px;
  background-image: url("images/dsdd.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-6 {
  min-height: 106px;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-7 {
  min-height: 106px;
}

.u-section-5 .u-container-layout-7 {
  padding: 30px;
}

.u-section-5 .u-image-4 {
  min-height: 374px;
  background-image: url("images/fddfdf.jpg");
  background-position: 74.45% 50%;
}

.u-section-5 .u-container-layout-8 {
  padding: 30px;
}

.u-section-5 .u-layout-wrap-2 {
  width: 1140px;
  margin: 40px auto 60px;
}

.u-section-5 .u-layout-cell-9 {
  min-height: 221px;
}

.u-section-5 .u-container-layout-9 {
  padding: 30px 30px 30px 0;
}

.u-section-5 .u-text-1 {
  letter-spacing: 0px;
  font-size: 1.125rem;
  line-height: 1.8;
  font-weight: 400;
  text-transform: none;
  margin: 0;
}

.u-section-5 .u-text-2 {
  letter-spacing: 1px;
  text-transform: none;
  font-weight: 400;
  margin: 20px 321px 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: none none solid;
  margin-left: auto;
  padding: 0;
}

.u-section-5 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 268px;
  min-width: 188px;
  margin: 20px auto 0 0;
}

.u-section-5 .u-icon-1 {
  height: 100%;
}

.u-section-5 .u-icon-2 {
  height: 100%;
}

.u-section-5 .u-icon-3 {
  height: 100%;
}

.u-section-5 .u-icon-4 {
  height: 100%;
}

.u-section-5 .u-icon-5 {
  height: 100%;
}

.u-section-5 .u-layout-cell-10 {
  min-height: 214px;
}

.u-section-5 .u-container-layout-10 {
  padding: 30px 0 30px 30px;
}

.u-section-5 .u-text-3 {
  font-size: 3.75rem;
  font-weight: 300;
  text-transform: none;
  margin: 0;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 805px;
  }

  .u-section-5 .u-shape-1 {
    height: 303px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -230px;
  }

  .u-section-5 .u-image-1 {
    min-height: 311px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 85px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 82px;
  }

  .u-section-5 .u-image-2 {
    min-height: 314px;
  }

  .u-section-5 .u-image-3 {
    min-height: 308px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 87px;
  }

  .u-section-5 .u-layout-cell-7 {
    min-height: 87px;
  }

  .u-section-5 .u-image-4 {
    min-height: 308px;
  }

  .u-section-5 .u-layout-wrap-2 {
    width: 940px;
  }

  .u-section-5 .u-layout-cell-9 {
    min-height: 176px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 127px;
  }

  .u-section-5 .u-layout-cell-10 {
    min-height: 182px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 1539px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-image-1 {
    min-height: 476px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 130px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 126px;
  }

  .u-section-5 .u-image-2 {
    min-height: 481px;
  }

  .u-section-5 .u-image-3 {
    min-height: 472px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 133px;
  }

  .u-section-5 .u-layout-cell-7 {
    min-height: 133px;
  }

  .u-section-5 .u-image-4 {
    min-height: 472px;
  }

  .u-section-5 .u-layout-wrap-2 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-9 {
    min-height: 100px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 20px;
  }

  .u-section-5 .u-layout-cell-10 {
    min-height: 285px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 3155px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-image-1 {
    min-height: 714px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 195px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 189px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    min-height: 722px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    min-height: 708px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 200px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-7 {
    min-height: 200px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-4 {
    min-height: 708px;
  }

  .u-section-5 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-wrap-2 {
    width: 540px;
  }

  .u-section-5 .u-layout-cell-9 {
    order: 1;
  }

  .u-section-5 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-10 {
    min-height: 100px;
    order: 0;
  }

  .u-section-5 .u-container-layout-10 {
    padding-left: 10px;
  }

  .u-section-5 .u-text-3 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 2146px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-image-1 {
    min-height: 450px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 123px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 119px;
  }

  .u-section-5 .u-image-2 {
    min-height: 455px;
  }

  .u-section-5 .u-image-3 {
    min-height: 446px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 126px;
  }

  .u-section-5 .u-layout-cell-7 {
    min-height: 126px;
  }

  .u-section-5 .u-image-4 {
    min-height: 446px;
  }

  .u-section-5 .u-layout-wrap-2 {
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    font-size: 2.5rem;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1132px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 804px;
  margin: 60px auto;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 656px;
}

.u-section-6 .u-container-layout-1 {
  padding-bottom: 60px;
}

.u-section-6 .u-image-1 {
  width: 367px;
  height: 475px;
  object-position: 50% 0%;
  filter: brightness(0.85);
  margin: 58px auto 0 0;
}

.u-section-6 .u-image-2 {
  width: 290px;
  height: 384px;
  margin: -533px 0 0 auto;
}

.u-section-6 .u-shape-1 {
  width: 371px;
  height: 371px;
  margin: -222px 167px 0 auto;
}

.u-section-6 .u-image-3 {
  width: 366px;
  height: 477px;
  margin: -414px auto 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 327px;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px;
}

.u-section-6 .u-text-1 {
  margin: 0;
}

.u-section-6 .u-text-2 {
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 340px;
}

.u-section-6 .u-container-layout-3 {
  padding: 20px;
}

.u-section-6 .u-text-3 {
  line-height: 2;
  margin: 0;
}

.u-section-6 .u-text-4 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-6 .u-btn-1 {
  border-style: none none solid;
  font-style: italic;
  padding: 0;
}

.u-section-6 .u-btn-2 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  margin: 31px auto 0 0;
  padding: 11px 44px 11px 42px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 870px;
  }

  .u-section-6 .u-shape-1 {
    height: 369px;
    margin-top: -220px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 666px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 626px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-6 .u-image-1 {
    width: 303px;
    height: 425px;
  }

  .u-section-6 .u-image-2 {
    width: 253px;
    height: 379px;
    margin-top: -483px;
  }

  .u-section-6 .u-shape-1 {
    width: 364px;
    margin-top: -215px;
    margin-right: 128px;
  }

  .u-section-6 .u-image-3 {
    width: 337px;
    margin-right: 177px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 622px;
  }

  .u-section-6 .u-image-1 {
    width: 245px;
    height: 343px;
    margin-top: 51px;
  }

  .u-section-6 .u-image-2 {
    width: 223px;
    height: 337px;
    margin-top: -394px;
  }

  .u-section-6 .u-shape-1 {
    width: 277px;
    height: 332px;
    margin-top: -121px;
    margin-right: 67px;
  }

  .u-section-6 .u-image-3 {
    width: 296px;
    height: 439px;
    margin-top: -395px;
    margin-right: 116px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 315px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 863px;
  }

  .u-section-6 .u-image-1 {
    margin-top: 28px;
  }

  .u-section-6 .u-image-2 {
    width: 191px;
    height: 289px;
    margin-top: -225px;
  }

  .u-section-6 .u-shape-1 {
    height: 300px;
    margin-top: 73px;
    margin-right: 0;
  }

  .u-section-6 .u-image-3 {
    width: 298px;
    height: 401px;
    margin-top: -341px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 394px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 1204px;
}

.u-section-7 .u-image-1 {
  height: 668px;
  width: 960px;
  margin: 60px 0 0 auto;
}

.u-section-7 .u-group-1 {
  min-height: 417px;
  width: 550px;
  margin: -295px auto 0 0;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 70px 30px 45px;
}

.u-section-7 .u-text-1 {
  font-size: 1.5rem;
  font-family: Roboto, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 54px 1px 0;
}

.u-section-7 .u-text-2 {
  font-size: 4.5rem;
  text-transform: none;
  font-weight: 300;
  margin: 18px 1px 0;
}

.u-section-7 .u-text-3 {
  letter-spacing: 1px;
  margin: 21px 1px 0;
}

.u-section-7 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-7 .u-group-2 {
  width: 552px;
  min-height: 542px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -258px 88px 60px auto;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 40px;
}

.u-section-7 .u-text-4 {
  font-weight: 300;
  font-size: 3.75rem;
  text-transform: none;
  letter-spacing: normal;
  margin: 16px 0 0;
}

.u-section-7 .u-form-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-7 .u-form-group-1 {
  width: 100%;
}

.u-section-7 .u-form-group-2 {
  width: 100%;
}

.u-section-7 .u-form-group-3 {
  width: 100%;
}

.u-section-7 .u-form-group-4 {
  width: 100%;
}

.u-section-7 .u-btn-2 {
  border-style: solid;
  width: 100%;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 400;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1132px;
  }

  .u-section-7 .u-image-1 {
    height: 599px;
    width: 854px;
  }

  .u-section-7 .u-group-1 {
    min-height: 320px;
    width: 437px;
    margin-top: -225px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 60px;
  }

  .u-section-7 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-7 .u-group-2 {
    width: 514px;
    margin-top: -164px;
    margin-right: 38px;
    margin-bottom: 58px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1204px;
  }

  .u-section-7 .u-image-1 {
    height: 487px;
    width: 650px;
  }

  .u-section-7 .u-group-1 {
    width: 447px;
    margin-top: -160px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .u-section-7 .u-group-2 {
    width: 485px;
    margin-top: -46px;
    margin-right: 0;
    margin-bottom: 60px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1251px;
  }

  .u-section-7 .u-image-1 {
    height: 405px;
    width: 480px;
  }

  .u-section-7 .u-group-1 {
    min-height: 369px;
    margin-top: -115px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 40px;
    padding-left: 20px;
  }

  .u-section-7 .u-group-2 {
    margin-top: -70px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1079px;
  }

  .u-section-7 .u-image-1 {
    height: 242px;
    width: 320px;
    margin-right: auto;
    margin-left: 20px;
  }

  .u-section-7 .u-group-1 {
    min-height: 309px;
    width: 314px;
    margin-top: -43px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 20px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    font-size: 3rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-group-2 {
    min-height: 525px;
    width: 320px;
    margin-top: -46px;
    margin-right: auto;
    margin-left: 20px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    font-size: 3rem;
  }
}